/**

!~/.config/
!~/.config/foot/
!~/.config/hypr/
!~/.config/kitty/
!~/.config/niri/
!~/.config/nvim/
!~/.config/systemd/
!~/.config/waybar/
!~/.config/xdg-desktop-portal/
!~/.gnupg/
!~/.local/
!~/.local/share/
!~/.local/share/hyprland/
!~/.local/share/nvim/
!~/.nvim/
!~/.nvim/undodir/
!~/.ssh/
!~/.themes/
!~/.vim/
!~/desktop/
!~/disks/
!~/documents/
!~/downloads/
!~/music/
!~/notes/
!~/photos/
!~/photos/walls/
!~/photos/icloud/
!~/projects/
!~/public/
!~/templates/
!~/videos/
!~/wiki/
!~/.bashrc
!~/.fdignore
!~/.gitignore
!~/.vimrc
!~/.zshrc
!~/.zshrc.pre-oh-my-zsh
!~/README.md


