*

!/.config/
!/.config/foot/**
!/.config/hypr/**
!/.config/kitty/**
!/.config/niri/**
!/.config/nvim/**
!/.config/ranger/**
!/.config/rofi/**
!/.config/systemd/**
!/.config/waybar/**
!/.config/xdg-desktop-portal/**
!/.gnupg/**
!/.local/share/flatpak/**
!/.local/share/gnome-boxes/**
!/.local/share/hyprland/**
!/.local/share/iwctl/**
!/.local/share/nvim/**
!/.local/share/org.gnome.boxes/**
!/.local/share/ranger/**
!/.local/share/spotify-launcher/**
!/.nvim/undodir/**
!/.ssh/**
!/.themes/**
!/.vim/**
!/Notes/**
!/Photos/walls/**
!/Projects/**
!/.bashrc
!/.gitignore
!/.vimrc
!/.zshrc
!/README.md


