@define-color bg    #24273a; 
@define-color fg    #cad3f5; 
@define-color blk   #32344a; 
@define-color red   #ed8796; 
@define-color grn   #a6da95; 
@define-color ylw   #eed49f; 
@define-color blu   #8aadf4; 
@define-color mag   #c6a0f6; 
@define-color cyn   #8bf5ca; 
@define-color brblk #444b6a; 
@define-color white #ffffff; 

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
    border-bottom: 3px solid @bg;
}
#workspaces button.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}
#workspaces button.empty {
    color: @white;
}
#workspaces button.empty.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @cyn;
    border-bottom: 4px solid @cyn;
}

#battery {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#network {
    color: @blu;
    border-bottom: 4px solid @blu;
}

#network.disconnected {
    background-color: @red;
}

#tray {
    background-color: #2980b9;
}

